@import './../../assests//scss/variables';

.swiper-pagination {
  position: absolute;
  width: 90% !important;
  left: 42% !important;
}

.swiper-pagination-bullet {
  width: 0.7692rem;
  height: 0.7692rem;
  border-radius: 20%;
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: map-get($colors, 'info');
}

.slide-item {
  width: 100%;
  height: 15.3846rem;
  background-color: red;
}

.entry-container {
  .entry-tips {
    height: 2.5385rem;
    line-height: 2.5385rem;
  }

  .entry-item {
    height:6rem;
  }

  .swiper-scrollbar {
      height: 3px;
    background: map-get($colors, 'white');

    .swiper-scrollbar-drag {
      background: map-get($colors, 'grey');
      opacity: 0.5;
    }
  }
}
